# -----------------------------------
# ⚙️ IntelliJ IDEA
# -----------------------------------
.idea/
*.iml
out/
*.iws

# -----------------------------------
# 🔨 Gradle
# -----------------------------------
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# -----------------------------------
# 📦 Java / compilados
# -----------------------------------
*.class
*.jar
*.war
*.ear

# -----------------------------------
# 🧪 Logs, sistemas operativos y herramientas
# -----------------------------------
*.log
.DS_Store
Thumbs.db

# -----------------------------------
# 💻 VS Code
# -----------------------------------
.vscode/

# -----------------------------------
# 🧱 Eclipse (por si alguien abre ahí)
# -----------------------------------
.classpath
.project
.settings/
bin/

# -----------------------------------
# 🛠 NetBeans
# -----------------------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
